.input_wrapper input {
    width: 500px;
    margin: 20px;
    height: 55px;
    border:tan 2px solid;
    border-radius: 10px;
    padding: 5px;
    background-color: inherit;
    font-size: 12px;
    color: var(--text-primary);
    
}
.input_wrapper {
    width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.send_icon {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;

}

.send_icon:hover {
    background-color: var(--hover);
    transition: all .5s;
    
}