.wrapper_messages {
    width: 1400px;
    padding: 15px 0;
    height: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
 
    align-items: center;

}
.so {
  background-color: red;
  height: 30px;
  scroll-behavior: smooth;
}
 
.elements_of_chat {
  display: flex;
  flex-direction: column;
  height: 650px;
  width: 1000px;
  margin: 10px 0;
  padding: 30px 2px;


}
.userList {

  padding: 0 5px;
  width: 280px;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: auto;
}
.userList input {
  width: 180px;
  font-size: 17px;
  padding: 5px;
  height: 25px;
  margin: 0 3px;
  border: 1px solid gray;
  border-radius: 20px;
  background: url(./../../UI/icons/search.png) no-repeat scroll 7px 7px ;
  background-size: 10px;
padding-left:30px;
}
.userList input:hover {
  border: 1px solid var(--accent);
}
.userList input:focus {
  outline: none;
  border: 1px solid var(--accent);
}


.userItem {
    border: 1px gray solid;
    margin: 10px 10px;
    width: 250px;
    height: 80px;
    border-radius: 10px;
    padding: 3px 5px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap; 
}

.userItem:hover {
   background-color: var(--hover);
}

.userItem img {
  width: 25px;
  height: 25px;
  border-radius: 50px;
}
.satus_user {
  width: 100%;
  font-size: 10px;

}

.satus_user img {
  width: 8px;
  height: 8px;
}
.username {
  margin: 0 5px;

}

.chat_wrapper{
 
   padding: 10px;
   height: 600px;

   width: 1000px;
   justify-content: center;
   margin: 10px;
   flex-direction: column;
   display: flex;
   align-items: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 25px;
   color: var(--text-secondary);
   border-left: 1px gray solid;

   
}

.chat_wrapper iframe {
  width: 150px;
  height:150px;
  border: none;
  margin: 100px;
}

.chat_wrapper p {
  margin: 100px;
  width: 150px;
  height:50px;
  font-size: 20px;
}
 